<ion-header>
  <ion-navbar>
    <ion-title>صندوق ورودی</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <ion-icon (click)="load()" name="refresh"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-list class="delivery-list">

    <ion-item *ngFor="let del of deliveryItems">


      <div (click)="selectDelivery(del)">
        <div>
            <h2>منطقه: {{getAddressPart(del, true, 'district')}}</h2>
            <h3>خیابان: {{getAddressPart(del, true, 'street')}}</h3>
            <p>تحویل گیرنده: {{getName(del)}}</p>
        </div>
        <div style="margin-top: 10px">
          <h3>تاریخ شروع: {{getStartDate(del)}}</h3>
        </div>
       </div>
      <button ion-button (click)="showOrderLineDetails(del)" style="margin-top: 20px " outline>نمایش محصولات</button>
      
      
      <button ion-button full *ngIf="!isDeliveryOrdersRequested(del)" (click)="requestDeliveryOrders(del)" style="margin-top: 20px">درخواست دریافت مرسوله</button>
      <button ion-button full *ngIf="!isDeliveryOrdersRequested(del)" (click)="unassignDelivery(del)" color="danger" style="margin-top: 20px">عدم قبول ارسال</button>
      
      <button ion-button full *ngIf="isDeliveryOrdersRequested(del)" (click)="startDelivery(del)" style="margin-top: 20px">شروع ارسال</button>

    </ion-item>
  </ion-list>
</ion-content>