<ion-header>
  <ion-navbar>
    <ion-title>در حال ارسال</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon (click)="load()" name="refresh"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="delivery-list">
    <ion-item-sliding *ngFor="let del of deliveryItems">
      <ion-item>
        <div (click)="selectDelivery(del)">
          <div>
            <h2>منطقه: {{getAddressPart(del, true, 'district')}}</h2>
            <h3>خیابان: {{getAddressPart(del, true, 'street')}}</h3>
            <p>تحویل گیرنده: {{getName(del, true)}}</p>
          </div>
          <div style="margin-top: 10px">
            <h3>تاریخ پیش بینی شده شروع: {{getStartDate(del)}}</h3>
            <h3>تاریخ پیش واقعی شروع: {{getActualStartDate(del)}}</h3>
            <h3>ساعت شروع: {{getStartTime(del)}}</h3>
          </div>
          <div style="margin-top: 10px">
            <h3>نوع انتقال: {{getDeliveryType(del)}}</h3>
          </div>
          <div *ngIf="del.to.customer">
            <p>بازه زمانی انتخاب شده توسط کاربر جهت تحویل بسته: {{getTimeSlot(del).time_slot.lower_bound}} تا {{getTimeSlot(del).time_slot.upper_bound}}</p>
            <!--<p>زمان انتخاب شده توسط کاربر جهت تحویل بسته: {{del.orders[0].delivery_info.time_slot.lower_bound}} تا {{del.orders[0].delivery_info.time_slot.upper_bound}}</p>-->
          </div>
        </div>
        <button ion-button (click)="showOrderLineDetails(del)" style="margin-top: 20px " outline>نمایش محصولات</button>
      </ion-item>

      <ion-item-options side="right">
        <button class="slide-button" ion-button color="primary" (click)="finishDelivery(del)" *ngIf="!del.delivery_end">
          <ion-icon name="checkmark"></ion-icon>
        </button>
        <button class="slide-button" ion-button color="danger" (click)="callReceiver(del)">
          <ion-icon name="call"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>