<ion-header>
  <ion-navbar>
    <ion-title>اطلاعات بسته ارسالی</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="direction: rtl">
  <ion-list>
    <ion-list-header>اطلاعات عمومی</ion-list-header>
    <ion-item>
      <ion-label class="title">نام
        <span *ngIf="!deliveryDetails.is_return">دریافت کننده</span>
        <span *ngIf="deliveryDetails.is_return">بازگشت دهنده</span>
      </ion-label>
      <ion-label class="item-value content">{{getDestinationName()}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="title">شماره
        <span *ngIf="!deliveryDetails.is_return">دریافت کننده</span>
        <span *ngIf="deliveryDetails.is_return">بازگشت دهنده</span>
      </ion-label>
      <ion-label class="item-value content">{{getDestinationPhone()}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="title">نوع</ion-label>
      <ion-label class="item-value content">
        <span *ngIf="!deliveryDetails.is_return">دریافتی</span>
        <span *ngIf="deliveryDetails.is_return">بازگشتی</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="title">زمان ارسال</ion-label>
      <ion-label class="item-value content">{{getStartDateTime()}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="title">حداکثر زمان دریافت</ion-label>
      <ion-label class="item-value content">{{getEndDateTime()}}</ion-label>
    </ion-item>
    <ion-item *ngIf="isDelivered">
      <ion-label class="title">شروع به ارسال</ion-label>
      <ion-label class="item-value content">{{getDeliveryStartDateTime()}}</ion-label>
    </ion-item>
    <ion-item *ngIf="isDelivered">
      <ion-label class="title">دریافت کالا</ion-label>
      <ion-label class="item-value content">{{getDeliveryEndDateTime()}}</ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="isDelivered">
    <img [src]="getEvidenceImage()"/>
  </div>

  <ion-list>
    <ion-list-header>ارسال از</ion-list-header>
    <ion-item *ngFor="let ap of address_parts">
      <ion-label class="title">{{ap.fa_name}}</ion-label>
      <ion-label class="item-value content">{{getAddressPart('from', ap.name)}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header class="to-part">ارسال به</ion-list-header>
    <ion-item *ngFor="let ap of address_parts">
      <ion-label class="title">{{ap.fa_name}}</ion-label>
      <ion-label class="item-value content">{{getAddressPart('to', ap.name)}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>