<ion-header>
  <ion-navbar>
    <ion-title>اطلاعات بسته ارسالی</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="direction: rtl">

  <ion-list>
    <ion-list-header>اطلاعات عمومی</ion-list-header>
    <ion-item>
      <ion-label class="title">نام
        <span>دریافت کننده</span>
      </ion-label>
      <ion-label class="item-value content">{{getDestinationName()}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="title">شماره
        <span>دریافت کننده</span>
      </ion-label>
      <ion-label class="item-value content">{{getDestinationPhone()}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="title">نوع</ion-label>
      <ion-label class="item-value content">
        <span >{{getDeliveryType()}}</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <!--<ion-label class="title">{{getTimeSlot(del).time_slot.lower_bound}} تا {{getTimeSlot(del).time_slot.upper_bound}} :بازه زمانی انتخاب شده توسط کاربر جهت تحویل بسته </ion-label>-->
      <ion-label class="title">بازه زمانی انتخاب شده توسط کاربر جهت تحویل بسته:</ion-label>
      <ion-label class="item-value content">
        <span>{{getTimeSlot().time_slot.lower_bound}} تا {{getTimeSlot().time_slot.upper_bound}} </span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="title">پیش بینی شروع ارسال</ion-label>
      <ion-label class="item-value content">{{getStartDateTime()}}</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label class="title">شروع واقعی ارسال</ion-label>
      <ion-label class="item-value content">{{getDeliveryStartDateTime()}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="title">حداکثر زمان دریافت</ion-label>
      <ion-label class="item-value content">{{getExpireDateTime()}}</ion-label>
    </ion-item>
    
    <ion-item *ngIf="isDelivered()">
      <ion-label class="title">پایان ارسال</ion-label>
      <ion-label class="item-value content">{{getDeliveryEndDateTime()}}</ion-label>
    </ion-item>
    
  </ion-list>

  <div *ngIf="isDelivered() && delivery.to.customer">
    <img [src]="getEvidenceImage()" />
  </div>

  <ion-list>
    <ion-list-header>ارسال از</ion-list-header>
    <ion-item *ngFor="let ap of address_parts">
      <ion-label class="title">{{ap.fa_name}}</ion-label>
      <ion-label class="item-value content">{{getAddressPart(ap.name)}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header class="to-part">ارسال به</ion-list-header>
    <ion-item *ngFor="let ap of address_parts">
      <ion-label class="title">{{ap.fa_name}}</ion-label>
      <ion-label class="item-value content">{{getAddressPart(ap.name, false)}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>