<ion-header>
  <ion-navbar>
    <ion-title>ارسال شده ها</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon (click)="load()" name="refresh"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="delivery-list">
    <ion-item *ngFor="let del of deliveredItems">
      <div class="inner-item" (click)="selectDelivery(del)">
        <h2>منطقه: {{getAddressPart(del, true, 'district')}}</h2>
        <h3>خیابان: {{getAddressPart(del, true, 'street')}}</h3>
        <p>تحویل گیرنده: {{getName(del, true)}}</p>
        <div *ngIf="del.to.customer">
          <p>بازه زمانی انتخاب شده توسط کاربر جهت تحویل بسته: {{getTimeSlot(del).time_slot.lower_bound}} تا {{getTimeSlot(del).time_slot.upper_bound}}</p>
        </div>
      </div>
      <button ion-button (click)="showOrderLineDetails(del)" style="margin-top: 20px " outline>نمایش محصولات</button>
    </ion-item>

  </ion-list>
</ion-content>