<ion-header>
  <ion-navbar>
    <ion-title>لیست محصولات در مرسوله</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="direction: rtl; text-align:left">

  <div *ngFor="let prod of products">
    <ion-card>
      <ion-icon *ngIf="prod.ticket.status === orderlinestatus.FinalCheck" class="ion-icon-inp" ios="ios-time-outline" md="md-time-outline"></ion-icon>
      <ion-icon *ngIf="[orderlinestatus.Checked, orderlinestatus.ReadyToDeliver].includes(prod.ticket.status)" ios="ios-checkmark" md="md-checkmark" class="ion-icon-done"></ion-icon>
      
      <div class="products">{{prod.name}}</div>
      <img src="{{getimagesrc(prod)}}" />
    </ion-card>
    
  </div>

</ion-content>