page-order-details {

  .products {
    font-size: 15px;
    text-align: left;
    display: inline-block;
  }

  .thumbnail {
    padding: 20px;
    font-size: 10px;
    text-align: left;
   
  }
.container{
  
margin-left: 0;
  text-align: left;
}
.checkbox{
  padding: 15px;
}

}
