page-order-details {
    .item-value {
      text-align: left;
    }
  
    .to-part {
      margin-top: 20px;
    }
  
    .title {
      font-size: 0.8em;
    }
  
    .content {
      font-size: 0.7em;
    }
  }
  