<ion-header>
  <ion-navbar>
    <ion-title>لیست محصولات در مرسوله</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="direction: rtl; text-align:left">

  <div *ngFor="let prod of products">
    <div *ngIf=" orderStatus.status == '3' || orderStatus.status == '4'">
      <ion-card *ngIf="prod.ticket.status == '9'">
          
      <ion-icon class="ion-icon-inp" ios="ios-time-outline" md="md-time-outline"></ion-icon>
      <div class="products">{{prod.name}}</div>
      <img src="{{getimagesrc(prod)}}" />
      </ion-card>

      <ion-card *ngIf="prod.ticket.status == '10'|| prod.ticket.status == '4'">
         <ion-icon ios="ios-checkmark" md="md-checkmark" class="ion-icon-done"></ion-icon>
        <div class="products">{{prod.name}}</div>
        <img src="{{getimagesrc(prod)}}" />
      </ion-card>
    </div>


    <ion-card  *ngIf=" orderStatus.status == '2'">
      <ion-item class="products">{{prod.name}}
      </ion-item>
      <img  src="{{getimagesrc(prod)}}" />
    </ion-card>

  </div>

</ion-content>
